{{- define "title" -}}
  {{- $title := .Page.Title -}}
  {{- if ne (i18n $title) "" -}}
    {{- $title = (i18n $title) -}}
  {{- end -}}
  {{- .Title }} · {{ $title -}}
{{- end }}
{{- define "content" }}
  {{- $title := .Page.Title -}}
  {{- if ne (i18n $title) "" -}}
    {{- $title = (i18n $title) -}}
  {{- end -}}
  <h1 class="term">{{ i18n "allEntries" }} "{{ $title }}"</h1>
  {{- with .Content -}}
    <div class="term-description">{{- . -}}</div>
  {{- end -}}
  {{- partial "list.html" . -}}
{{- end -}}
