{{- $quote := .Get "quote" | markdownify -}}
{{- $from := .Get "from" | markdownify -}}
{{- if (.Get "file") }}
    {{ $quote = readFile (.Get "file") | markdownify -}}
{{- end -}}
{{- if len .Inner -}}
    {{- $quote = .Inner | markdownify -}}
{{- end -}}
{{- $link := .Get "link" -}}
{{- $fromlink := .Get "from-link" -}}
{{- $sourcelink := .Get "source-link" -}}

<div class="quote">
    {{ if $link }}<a href="{{ $link }}">{{ end }}
    <blockquote  class="quote-body">
        {{ $quote }}
    </blockquote >
    {{ if $link }}</a>{{ end }}
    {{ if $from }}
        <div class="quote-from">
          {{ if $fromlink }}<a href="{{ $fromlink }}">{{ end }}
          {{ $from }}
          {{ if $fromlink }}</a>{{ end }}
          {{ if and $fromlink $sourcelink  }}, {{ end }}
          {{ if $sourcelink }}<a href="{{ $sourcelink }}">{{ end -}}
          {{ i18n "source" }}
          {{- if $sourcelink }}</a>{{ end }}
        </div>
    {{ end }}
</div>
